@font-face {
  font-family: 'sonar';
  src: url('assets/fonts/sonar.eot') format("opentype");
  //src: url('assets/fonts/sonar.woff') format("woff"),
  //src: url('assets/fonts/sonar.ttf') format("opentype");
  //url('assets/fonts/sonar.svg') format("svg");
  font-weight: 300;
  font-style: normal;
}
