/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 62.5%; // rem tricks
}

// Removing body native margin
body {
  margin: 0;
  padding: 0;
}


@import "theme/colors.scss";
